<section id="static-comments">
{% if site.repository and site.comments.staticman.branch %}

{% assign lang = site.locale %}
{% assign lang_prefix = page.url | truncate: 3, "" %}
{% if lang_prefix contains "en" or lang_prefix contains "ko" %}
  {% assign lang = lang_prefix | remove_first: "/" %}
{% endif %}

  {% if site.data.comments[page.slug] %}
    <!-- Existing comments -->
    <div class="comments-title">
    <h2>{{ site.data.ui-text[lang].comment_form_comment_label | default: "Comment" }}</h2>
    {% assign comments = site.data.comments[page.slug] | sort | where_exp: "comment", "comment[1].replying_to == ''" %}
        {% for comment in comments %}
          {% assign index       = forloop.index %}
          {% assign replying_to = comment[1].replying_to | to_integer %}
          {% assign name        = comment[1].name %}
          {% assign date        = comment[1].date %}
          {% assign message     = comment[1].message %}
          {% include comment.html index=index replying_to=replying_to name=name date=date message=message %}
        {% endfor %}
    </div>    
  {% endif %}

  <!-- Start new comment form -->
  <div class="page__comments-form" id="respond">
    <h4 class="page__comments-title">{{ site.data.ui-text[lang].comments_label | default: "Leave a Comment" }}</h4>
    <form id="new_comment" class="page__comments-form js-form form" method="post" action="{{ site.comments.staticman.endpoint }}{{ site.repository }}/{{ site.comments.staticman.branch }}/comments" autocomplete="off">
      <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
      <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
      <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
      <input type="hidden" name="options[slug]" value="{{ page.slug }}">
      <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
      <input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.reCaptcha.secret }}">
      
      <div class="form-group">
        <label for="comment-form-name">{{ site.data.ui-text[lang].comment_form_name_label | default: "Name" }} </label>
        <input type="text" id="comment-form-name" name="fields[name]" tabindex="2" />
      </div>

      <div class="form-group">
        <label for="comment-form-message">{{ site.data.ui-text[lang].comment_form_comment_label | default: "Comment" }} <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">{{ site.data.ui-text[lang].cancel_reply | default: "Cancel reply"}}</a></small></label>
        <textarea type="text" rows="3" id="comment-form-message" name="fields[message]" tabindex="1"></textarea>
        <div class="small help-block"><a href="https://daringfireball.net/projects/markdown/">{{ site.data.ui-text[lang].comment_form_md_info | default: "Markdown is supported." }}</a></div>
      </div>

      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="{{ site.reCaptcha.siteKey }}"></div>
      </div>
      
      <!-- Start comment form alert messaging -->
      <p class="hidden js-notice">
        <strong class="js-notice-text"></strong>
      </p>
      <!-- End comment form alert messaging -->   

      <div class="form-group">
        <button type="submit" id="comment-form-submit" tabindex="5" class="btn btn--primary btn--large">{{ site.data.ui-text[lang].comment_btn_submit | default: "Submit Comment" }}</button>
      </div>
    </form>
  </div>
  <!-- End new comment form -->
  
  {% if site.reCaptcha.siteKey %}<script async src="https://www.google.com/recaptcha/api.js"></script>{% endif %}
{% endif %}
</section>