<article id="comment{% unless include.r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endunless %}" class="js-comment comment {% if include.name == site.author.name %}admin{% endif %} {% unless include.replying_to == 0 %}child{% endunless %}">
  {% if include.replying_to != 0 %}
    <div class="comment__author" style="margin-left:3em">
      {{ include.name }},
      <span class="comment__date">
        {% if include.date %}
          {% if include.index %}
            <a href="#comment{{ include.index | prepend: '-' }}" title="Permalink to this comment">
          {% endif %}
          {{ include.date | date_to_long_string }}
          {% comment %}
            {% include format-date.html date=include.date time=false weekDay=false %}
          {% endcomment %}
          {% if include.index %}</a>{% endif %}
        {% endif %}
      </span>
    </div>

    <div class="comment__body" style="margin-left:3em">
      {{ include.message | markdownify }} 
    </div>

  {% else %}

    <div class="comment__author" style="margin-left:.5em">
      {{ include.name }},
      <span class="comment__date">
        {% if include.date %}
          {% if include.index %}
            <a href="#comment{{ include.index | prepend: '-' }}" title="Permalink to this comment">
          {% endif %}
          {{ include.date | date_to_long_string }}
          {% comment %}
            {% include format-date.html date=include.date time=false weekDay=false %}
          {% endcomment %}
          {% if include.index %}</a>{% endif %}
        {% endif %}
      </span>
    </div>
    
    <div class="comment__body" style="margin-left:.5em">
      {{ include.message | markdownify }} 
    </div>
    
    <div class="comment__reply" style="border:none; margin-bottom:2em; margin-left:1em;">
      <a rel="nofollow" href="#comment-{{ include.index }}" onclick="return addComment.moveForm('comment-{{ include.index }}', '{{ include.index }}', 'respond', '{{ page.slug }}')"><span class="material-icons md-14">&#xE5DA;</span>{{ include.name }}에게 답글 남기기</a>
    </div>
  
  {% endif %}  
</article>

{% capture i %}{{ include.index }}{% endcapture %}
{% assign replies = site.data.comments[page.slug] | sort | where_exp: 'comment', 'comment[1].replying_to == i' %}
{% for reply in replies %}
  {% assign index       = forloop.index | prepend: '-' | prepend: include.index %}
  {% assign replying_to = reply[1].replying_to | to_integer %}
  {% assign email       = reply[1].email %}
  {% assign name        = reply[1].name %}
  {% assign url         = reply[1].url %}
  {% assign date        = reply[1].date %}
  {% assign message     = reply[1].message %}
  {% include comment.html index=index replying_to=replying_to avatar=avatar email=email name=name url=url date=date message=message %}
{% endfor %}
