{% if site.footer_scripts %}
  {% for script in site.footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% else %}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{% endif %}

{% if site.search == true or page.layout == "search" %}
  {%- assign search_provider = site.search_provider | default: "lunr" -%}
  {%- case search_provider -%}
    {%- when "lunr" -%}
      {% include_cached search/lunr-search-scripts.html %}
    {%- when "google" -%}
      {% include_cached search/google-search-scripts.html %}
    {%- when "algolia" -%}
      {% include_cached search/algolia-search-scripts.html %}
  {%- endcase -%}
{% endif %}

{% include analytics.html %}
{% include /comments-providers/scripts.html %}

{% if site.after_footer_scripts %}
  {% for script in site.after_footer_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

<link rel="stylesheet" href="/assets/katex/katex.min.css">
 <script defer src="/assets/katex/katex.min.js"></script>
 <script defer src="/assets/katex/contrib/auto-render.min.js"></script>
 <script>
     document.addEventListener("DOMContentLoaded", function() {
         renderMathInElement(document.body, {
         // customised options
         // • auto-render specific keys, e.g.:
         delimiters: [
             {left: '$$', right: '$$', display: true},
             {left: '$', right: '$', display: false},
               {left: '\\(', right: '\\)', display: false},
               {left: '\\[', right: '\\]', display: true}
           ],
         macros: {
              "‘":"'",
              "’":"'",
              "\\x":"\\mathrm{x}",
              "\\X":"\\mathrm{X}",
              "\\y":"\\mathrm{y}",
              "\\op":"\\mathrm{op}",
              "\\id":"\\mathrm{id}",
              "\\Gr":"\\mathrm{Gr}",
              "\\ab":"\\mathrm{ab}",
              "\\pr":"\\mathrm{pr}",
              "\\ev":"\\mathrm{ev}",
              "\\sk":"\\mathrm{sk}",
              "\\Ab":"\\mathbf{Ab}",
              "\\Ch":"\\mathbf{Ch}",
              "\\Sh":"\\mathbf{Sh}",
              "\\gl":"\\mathfrak{gl}",
              "\\sl":"\\mathfrak{sl}",
              "\\so":"\\mathfrak{so}",
              "\\su":"\\mathfrak{su}",
              "\\sp":"\\mathfrak{sp}",
              "\\im":"\\operatorname{im}",
              "\\gr":"\\operatorname{gr}",
              "\\GL":"\\operatorname{GL}",
              "\\SL":"\\operatorname{SL}",
              "\\SO":"\\operatorname{SO}",
              "\\SU":"\\operatorname{SU}",
              "\\Sp":"\\operatorname{Sp}",
              "\\Cl":"\\operatorname{Cl}",
              "\\tr":"\\operatorname{tr}",
              "\\cl":"\\operatorname{cl}",
              "\\Eq":"\\operatorname{Eq}",
              "\\Bl":"\\operatorname{Bl}",
              "\\ch":"\\operatorname{char}",
              "\\RP":"\\mathbb{R}\\mathrm{P}",
              "\\CP":"\\mathbb{C}\\mathrm{P}",
              "\\PSh":"\\mathbf{PSh}",
              "\\Sch":"\\mathbf{Sch}",
              "\\ini":"\\mathrm{ini}",
              "\\fin":"\\mathrm{fin}",
              "\\Set":"\\mathbf{Set}",
              "\\Rng":"\\mathbf{Rng}",
              "\\Top":"\\mathbf{Top}",
              "\\Man":"\\mathbf{Man}",
              "\\Grp":"\\mathbf{Grp}",
              "\\Mon":"\\mathbf{Mon}",
              "\\CAT":"\\mathbf{CAT}",
              "\\Cat":"\\mathbf{Cat}",
              "\\Coh":"\\mathbf{Coh}",
              "\\Alg":"{\\mathbf{Alg}_{#1}}",
              "\\cAlg":"{\\mathbf{cAlg}_{#1}}",
              "\\End":"\\operatorname{End}",
              "\\ann":"\\operatorname{ann}",
              "\\Div":"\\operatorname{Div}",
              "\\Aut":"\\operatorname{Aut}",
              "\\Inn":"\\operatorname{Inn}",
              "\\Mor":"\\operatorname{Mor}",
              "\\Mat":"\\operatorname{Mat}",
              "\\obj":"\\operatorname{obj}",
              "\\Fun":"\\operatorname{Fun}",
              "\\Hom":"\\operatorname{Hom}",
              "\\Fix":"\\operatorname{Fix}",
              "\\col":"\\operatorname{col}",
              "\\lcm":"\\operatorname{lcm}",
              "\\Der":"\\operatorname{Der}",
              "\\Sym":"\\operatorname{Sym}",
              "\\row":"\\operatorname{row}",
              "\\dim":"\\operatorname{dim}",
              "\\Gal":"\\operatorname{Gal}",
              "\\Ass":"\\operatorname{Ass}",
              "\\vol":"\\operatorname{vol}",
              "\\sgn":"\\operatorname{sgn}",
              "\\ext":"\\operatorname{ext}",
              "\\Ext":"\\operatorname{Ext}",
              "\\Tor":"\\operatorname{Tor}",
              "\\fun":"\\operatorname{fun}",
              "\\Pic":"\\operatorname{Pic}",
              "\\Open":"\\mathbf{Open}",
              "\\Ring":"\\mathbf{Ring}",
              "\\Vect":"\\mathbf{Vect}",
              "\\cMon":"\\mathbf{cMon}",
              "\\hTop":"\\mathbf{hTop}",
              "\\QCoh":"\\mathbf{QCoh}",
              "\\lMod":"{\{\}_{#1}\\mathbf{Mod}}",
              "\\rMod":"{\\mathbf{Mod}_{#1}}",
              "\\lmod":"{\{\}_{#1}\\mathbf{mod}}",
              "\\rmod":"{\\mathbf{mod}_{#1}}",
              "\\lset":"{\{\}_{#1}\\mathbf{Set}}",
              "\\rset":"{\\mathbf{Set}_{#1}}",
              "\\omat":"\\mathfrak{o}",
              "\\umat":"\\mathfrak{u}",
              "\\Omat":"\\operatorname{O}",
              "\\Umat":"\\operatorname{U}",
              "\\CoEq":"\\operatorname{CoEq}",
              "\\Spec":"\\operatorname{Spec}",
              "\\Proj":"\\operatorname{Proj}",
              "\\Stab":"\\operatorname{Stab}",
              "\\stab":"\\operatorname{stab}",
              "\\Frac":"\\operatorname{Frac}",
              "\\proj":"\\operatorname{proj}",
              "\\span":"\\operatorname{span}",
              "\\supp":"\\operatorname{supp}",
              "\\coim":"\\operatorname{coim}",
              "\\Cone":"\\operatorname{Cone}",
              "\\CaCl":"\\operatorname{CaCl}",
              "\\card":"\\operatorname{card}",
              "\\rank":"\\operatorname{rank}",
              "\\cone":"\\operatorname{cone}",
              "\\incl":"\\operatorname{incl}",
              "\\cRing":"\\mathbf{cRing}",
              "\\Field":"\\mathbf{Field}",
              "\\Magma":"\\mathbf{Magma}",
              "\\FVect":"\\mathbf{FVect}",
              "\\Bilin":"\\operatorname{Bilin}",
              "\\Balan":"\\operatorname{Balan}",
              "\\codim":"\\operatorname{codim}",
              "\\CaDiv":"\\operatorname{CaDiv}",
              "\\coker":"\\operatorname{coker}",
              "\\graph":"\\operatorname{graph}",
              "\\rSpec":"\\operatorname{\\underline{Spec}}",
              "\\rProj":"\\operatorname{\\underline{Proj}}",
              "\\AffSch":"\\mathbf{AffSch}",
              "\\degree":"\\operatorname{deg}",
              "\\length":"\\operatorname{length}",
              "\\nullity":"\\operatorname{nullity}",
              "\\residue":"\\operatorname{res}",
              "\\interior":"\\operatorname{int}",
              "\\restrict":"\\mathrm{res}",
              },
           // • rendering keys, e.g.:
           throwOnError : false
         });
     });
 </script> 

 <script language="javascript">
  const percentLabel = document.querySelector("#percent");
  const originalTitle = document.title;
  window.addEventListener("scroll", () => {
    let scrollTop = window.scrollY;
    let docHeight = document.body.offsetHeight;
    let winHeight = window.innerHeight;
    let scrollPercent = scrollTop / (docHeight - winHeight);
    let scrollPercentRounded = Math.round(scrollPercent * 100);
    percentLabel.innerHTML = scrollPercentRounded;
  });
</script>