/* ==========================================================================
   Personal skin (dark)
   ========================================================================== */

/* Colors */
$text-color: #e0e0e0 !default;                                    //  Grey 50
$background-color: #212121 !default;
$muted-text-color: mix($background-color, $text-color, 20%) !default;
$primary-color: #020715 !default;
$footer-background-color: #020715 !default;
$link-color: #80d8ff !default;                                    //  Indigo A700
$masthead-link-color: #f5f5f5 !default;                           //  Grey 100
$masthead-link-color-hover: #a9874a !default;
$navicon-link-color-hover: mix($background-color, $text-color, 80%) !default;
$border-color: mix($text-color, $background-color, 40%) !default;
$highlight-color: #6090e9;                                        //  Lighten #071734 30
$notice-background-mix: 0%;
$highlight-background-mix: 20%;

/* Personal notice colors */
$definition-color: #00796b !default;                              //  Teal 700
$proposition-color: #303f9f !default;                             //  Indigo 700
$proof-color: #455a64 !default;                                   //  Blue Grey 700
$example-color: #2e7d32 !default;                                 //  Green 800
$remark-color: #880e4f !default;                                  //  Pink 900
$misc-color: #795548 !default;                                    //  Grey 700
$spoiler-color: #ff4301 !default;

$lang-color: #174bab !default;
$lang-list-color: #113a83 !default;

.page__content {
  .notice,
  .notice--primary,
  .notice--info,
  .notice--warning,
  .notice--success,
  .notice--danger {
    color: $text-color;
  }
}

.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}


