---
layout: default
classes: wide
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<!--{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}-->

<div id="main" role="main">

  
  <div class="archive_personal" style="margin-top: 20px">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <div><h1 id="page-title" class="page__title">{{ page.title }}<span style="float: right"><a class="material-icons" href="javascript:history.back()">&#xE5CD;</a></span></h1></div>
    {% endunless %}
    {{ content }}
  </div>
</div>
