---
layout: archive
---

{% assign lang_prefix = page.url | truncate: 3, "" %}
{% if lang_prefix contains "en" or lang_prefix contains "ko" %}
  {% assign lang = lang_prefix | remove_first: "/" %}
  {% assign lang_full = lang_prefix | append: "/" %}
{% endif %}

{{ content }}

<ul class="taxonomy__index">
{% for ordered_cat in site.categories-en_order %}
  {% assign posts=site.categories[ordered_cat] | where_exp: "post", "post.permalink contains lang_full" %}
  {% assign hue_data = site.data.hues[ordered_cat] %}
  <li>
    <a href="#{{ ordered_cat | slugify }}" style="--cat-hue: {{ hue_data.hue | default: 220 }}; --cat-sat: {{ hue_data.sat | default: '26%' }}; --cat-l: {{ hue_data.l | default: 50 }};">
      <strong>{{ ordered_cat | split: " / " | last }}</strong> <span class="taxonomy__count">{{ posts.size }}</span>
    </a>
  </li>
{% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list'%}
{% for ordered_cat in site.categories-en_order %}
  {% assign posts=site.categories[ordered_cat] | where_exp: "post", "post.permalink contains lang_full"  | sort: 'weight' | reverse %}
   {% assign hue_data = site.data.hues[ordered_cat] %}
   <section id="{{ ordered_cat | slugify }}" class="taxonomy__section">
     <h2 class="archive__subtitle" style="--cat-hue: {{ hue_data.hue | default: 220 }}; --cat-sat: {{ hue_data.sat | default: '26%' }}; --cat-l: {{ hue_data.l | default: 50 }};">{{ ordered_cat | split: " / " | last }}</h2>
     <div class="entries-{{ entries_layout }}">
       {% for post in posts reversed %}
         {% include archive-single.html type=entries_layout %}
       {% endfor %}
     </div>
     <a href="#page-title" class="back-to-top">{{ site.data.ui-text[lang].back_to_top | default: 'Back to Top' }} &uarr;</a>
   </section>
{% endfor %}