---
layout: archive
---

{% assign lang_prefix = page.url | truncate: 3, "" %}
{% if lang_prefix contains "en" or lang_prefix contains "ko" %}
  {% assign lang = lang_prefix | remove_first: "/" %}
  {% assign lang_full = lang_prefix | append: "/" %}
{% endif %}

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% assign posts=category[1] | where_exp: "post", "post.permalink contains lang_full" %}
  {% if posts.size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
    {% assign posts=category[1] | where_exp: "post", "post.permalink contains lang_full" | sort: 'weight' %}
      {% if posts.size == i %}
        <li>
          <a href="#{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list'%}
{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% assign posts=category[1] | where_exp: "post", "post.permalink contains lang_full" %}
    {% if posts.size > 0 %}
      {% if category[1].size == i %}
      {% assign posts=category[1] | where_exp: "post", "post.permalink contains lang_full" | sort: 'weight' | reverse %}
        <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
          <h2 class="archive__subtitle">{{ category[0] }}</h2>
          <div class="entries-{{ entries_layout }}">
            {% for post in posts reversed %}
              {% include archive-single.html type=entries_layout %}
            {% endfor %}
          </div>
          <a href="#page-title" class="back-to-top">{{ site.data.ui-text[lang].back_to_top | default: 'Back to Top' }} &uarr;</a>
        </section>
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}
